<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="creacionevento" href="/tabs/creacionevento">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Creación Evento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busquedaeventos" href="/tabs/busquedaeventos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Búsqueda Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evento" href="/tabs/evento">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Evento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recompensas" href="/tabs/recompensas">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Recompensas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
