<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Recompensas</ion-title>
      <ion-button fill="clear" slot="end" [routerLink]="['/tabs/perfil']">
        <ion-avatar>
          <img src="assets/face.png" />
        </ion-avatar>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #007bff;">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding: 20px;">
    <div style="margin-top:350px; margin-bottom:50px;">
      <div class="profile-image">
        <ion-avatar style="margin: auto;">
          <img src="assets/face.png" />
        </ion-avatar>
      </div>
      <ion-text color="light" class="profile-name" style="text-align: center; margin-top: 10px;">
        <h2>USUARIO 1</h2>
      </ion-text>
    </div>
      <div style="width: 100%; max-width: 400px;">
          <ion-card style="background: transparent; color: white; text-align: center; margin-bottom: 20px;">
              <ion-card-header style="background: transparent;">
                  <ion-card-title style="font-size: 1.2em; color: white;">Has asistido a 5 eventos</ion-card-title>
              </ion-card-header>
              <ion-card-content style="background: transparent;">
                  <ion-button expand="block" color="light" style="--background: white; --color: #007bff; margin-top: 10px;">Reclamar recompensa</ion-button>
                  <ion-icon name="gift-outline" style="color: white; margin-top: 10px;"></ion-icon>
              </ion-card-content>
          </ion-card>
          <ion-card style="background: transparent; color: white; text-align: center; margin-bottom: 20px;">
              <ion-card-header style="background: transparent;">
                  <ion-card-title style="font-size: 1.2em; color: white;">Has asistido a 10 eventos</ion-card-title>
              </ion-card-header>
              <ion-card-content style="background: transparent;">
                  <ion-button expand="block" color="light" style="--background: white; --color: #007bff; margin-top: 10px;">Reclamar recompensa</ion-button>
                  <ion-icon name="gift-outline" style="color: white; margin-top: 10px;"></ion-icon>
              </ion-card-content>
          </ion-card>
          <ion-card style="background: transparent; color: white; text-align: center; margin-bottom: 20px;">
              <ion-card-header style="background: transparent;">
                  <ion-card-title style="font-size: 1.2em; color: white;">Has invitado a 3 amigos</ion-card-title>
              </ion-card-header>
              <ion-card-content style="background: transparent;">
                  <ion-button expand="block" color="light" style="--background: white; --color: #007bff; margin-top: 10px;">Reclamar recompensa</ion-button>
                  <ion-icon name="gift-outline" style="color: white; margin-top: 10px;"></ion-icon>
              </ion-card-content>
          </ion-card>
          <ion-card style="background: transparent; color: white; text-align: center; margin-bottom: 20px;">
              <ion-card-header style="background: transparent;">
                  <ion-card-title style="font-size: 1.2em; color: white;">Has invitado a 5 amigos</ion-card-title>
              </ion-card-header>
              <ion-card-content style="background: transparent;">
                  <ion-button expand="block" color="light" style="--background: white; --color: #007bff; margin-top: 10px;">Reclamar recompensa</ion-button>
                  <ion-icon name="gift-outline" style="color: white; margin-top: 10px;"></ion-icon>
              </ion-card-content>
          </ion-card>
      </div>
  </div>
</ion-content>
